:root {
  --primary-purple: #9863d1;
  --secondary-purple: hsl(255, 40%, 47%);
  --dark-purple: rgb(109, 48, 170);
  --default-text: #444;
}
/* how to use css variables ... color: var(--dark-purple); */

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  border: none;
  background-color: white;
  color: rgb(109, 48, 170);
  border-radius: 2em;
  text-align: center;
}

.company, .jobs-connections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.company-section {
  background-color: var(--dark-purple);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 200px;
  margin: auto; 
  color: white;
  padding: 20px;
}

.jobs-section {
  background-color: var(--dark-purple);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 500px;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  padding: 20px;
}

.connections-section {
  background-color: var(--dark-purple);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
  padding: 20px;
}

.jobs-container {
  display: flex;
  flex-direction: column;
}

.content-wrapper-companies {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-wrapper-jobs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  margin-bottom: 20px;
}
.content-wrapper-connections {
  margin-bottom: 20px;
}
/* .content-wrapper-company, .content-wrapper-jobs, .content-wrapper-connections {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.content-wrapper-company {
  width: 1360px;
}
.content-wrapper-jobs {
  width: 940px;
}
.content-wrapper-connections  {
width: 320px;
}
.company-overview, .linkedin {
margin-right: 100px;
} */

.job-A{
  /* min-width: 20%; */
  word-wrap: break-word;
  margin-right: 20px;
  /* flex-grow: 1; */
}
.job-B {
  /* min-width: 50%; */
  word-wrap: break-word;
  margin-right: 40px;
  /* flex-grow: 2; */
}
.job-C {
  /* min-width: 30%; */
  word-wrap: break-word;
  /* flex-grow: 1; */
}

a {
  text-decoration: none;
  color: white;
}