:root {
  --primary-purple: #9863d1;
  --secondary-purple: hsl(255, 40%, 47%);
  --dark-purple: rgb(109, 48, 170);
  --default-text: #444;
}
/* how to use css variables ... color: var(--dark-purple); */

a {
  text-decoration: none;
  color: white;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  border: none;
  background-color: white;
  color: rgb(109, 48, 170);
  border-radius: 2em;
  text-align: center;
}

.company, .jobs-connections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.company-section {
  background-color: var(--dark-purple);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 200px;
  margin: auto; 
  color: white;
  padding: 20px;
}

.jobs-section {
  background-color: var(--dark-purple);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1020px;
  height: 500px;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  padding: 20px;
}

.connections-section {
  background-color: var(--dark-purple);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
  padding: 20px;
}

.jobs-container {
  display: flex;
  flex-direction: column;
}

.companies-container {
  /* background-color: red; */
  display:flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
.content-wrapper-companies {
  background-color: red;
  /* background-color: var(--dark-purple); */
  color: white;
  display:flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 20px;
}
.content-wrapper-jobs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  margin-bottom: 20px;
}
.content-wrapper-connections {
  margin-bottom: 20px;
}
/* .content-wrapper-company, .content-wrapper-jobs, .content-wrapper-connections {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.content-wrapper-company {
  width: 1360px;
}
.content-wrapper-jobs {
  width: 940px;
}
.content-wrapper-connections  {
width: 320px;
}
.company-overview, .linkedin {
margin-right: 100px;
} */

/* by doing margin-right they are dependent on the div to the left. i dont want this. ++++++++++++++++ */
.company-overview, .linkedin, .glassdoor {
  width: 300px;
  word-wrap: break-word;
}
.job-A {
  width: 200px;
  word-wrap: break-word;
  padding-right: 20px;
}
.job-B{
  width: 370px;
  word-wrap: break-word;
  padding-right: 20px;
}
.job-B, .job-C{
  width: 370px;
  word-wrap: break-word;
}
