:root {
  --primary-purple: #9863d1;
  --secondary-purple: hsl(255, 40%, 47%);
  --dark-purple: rgb(109, 48, 170);
  --default-text: #444;
}
/* how to use css variables ... color: var(--dark-purple); */


* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 20px;
}

form {
  display: block;
  max-width: 600px;
  padding: 0 5%;
  margin: 0 auto;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

.container {
  max-width: 1440px;
  padding: 1% 0;
  margin: 0 auto;
}

input {
  color: rgb(83, 82, 82);
  width: 100%;
  font-size: 1.2em;
  border: 0;
  border-bottom: 2px solid rebeccapurple;
  outline: 0;
  margin-bottom: 7px;
  margin-bottom: 0;
}

.form-group {
  color: rebeccapurple;
}