:root {
  --primary-purple: #9863d1;
  --secondary-purple: hsl(255, 40%, 47%);
  --dark-purple: rgb(109, 48, 170);
  --default-text: #444;
}
/* how to use css variables ... color: var(--dark-purple); */

nav {
  background-color: var(--dark-purple);
  color: #fff;
  margin-bottom: 40px;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 10px; */
}

.logo {
  color: #fff;
}

.logo h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-item {
  /* margin-right: 10px; */
  cursor: pointer;
}

.nav-link {
  display: block;
  color: #fff;
  padding: 10px;
}

.nav-link:hover,
.nav-link.active {
  background-color: var(--secondary-purple)002D59;
}
